//$color1Primary: #134E68;
// $color1Secondary: #3F6678;
// $color1Light: #b9b9b9;

// $color2Primary: #A4641C;
// $color2Light: #FED3A3;

// $color1Primary: #448aff;

$paddingInline: 8px;

:root {
    --primary: #0776A0;
}

// BODY {
//     margin: 0;
//     padding: 0;
// }

#app {
    //@at-root: Avenir, Helvetica, Arial, sans-serif;
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width: 100vw;
    // height: 100vh;
}

// .input {
//     border: 1px solid $color1Light;
//     border-radius: 0.2rem;
//     padding: $paddingInline - 1;

//     &:focus {
//         border: 1px solid $color1Primary;
//         outline: none;
//     }
// }

.btn {
    padding: $paddingInline;
    border: none;
    border-radius: 0.2rem;

    &:focus {
        border: none;
        outline: none;
    }

    &:hover {
        background-color: var(--primary);
        box-shadow: 0 0 4px #333;
    }

    &:disabled {
        background-color: #DDD;
        color: #999;
    }
}

.btn-primary {
    background-color: var(--primary);
    color: #EEE;

    &:active {
        background-color: var(--primary);
    }
}

// .text-light { color: $color1Light }