//$color1Primary: #134E68;
// $color1Secondary: #3F6678;
// $color1Light: #b9b9b9;

// $color2Primary: #A4641C;
// $color2Light: #FED3A3;

// $color1Primary: #448aff;

:root {
    --primary: #0776A0;
}

BODY {
    margin: 0;
    padding: 0;
}