// //$color1Primary: #134E68;
// $color1Secondary: #3F6678;
// $color1Light: #b9b9b9;

// $color2Primary: #A4641C;
// $color2Light: #FED3A3;

// $color1Primary: #448aff;

// $paddingInline: 10px;

// BODY {
//     margin: 0;
//     padding: 0;
// }

#app {
    //font-family: Avenir, Helvetica, Arial, sans-serif;
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

// .input {
//     border: 1px solid $color1Light;
//     border-radius: 0.2rem;
//     padding: $paddingInline - 1;

//     &:focus {
//         border: 1px solid $color1Primary;
//         outline: none;
//     }
// }

// .btn {
//     padding: $paddingInline;
//     border: none;
//     border-radius: 0.2rem;

//     &:focus {
//         border: none;
//         outline: none;
//     }

//     &:disabled {
//         background-color: #DDD;
//         color: #999;
//     }
// }

// .btn-primary {
//     background-color: $color1Primary;
//     color: #EEE;

//     &:active {
//         background-color: $color1Secondary;
//     }
// }

// .text-light { color: $color1Light }